* {
    color: white;
    text-decoration: none;
}

.layoutnav {
    background-color: rgb(0, 4, 55);
}

.layoutul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

/* Desktop */
@media screen and (min-width: 1280px) {
    .layoutnav {
        display: flex;
    }

    .layoutul {
        margin-left: 600px;
        margin-top: 25px;
        width: 25%;
    }

    .layoutli {
        font-size: 100%;
    }
}

/* iPad Pro */
@media screen and (max-width: 1024px) {
    .layoutnav {
        margin-top: -29px;
    }

    .layoutnav h1 {
        font-size: 225%;
        margin-left: 25%;
        text-align: center;
        width: 50%;
    }

    .layoutul {
        margin-left: 25%;
        width: 50%;
        border: 3px solid red;
        font-size: 150%;
    }

    .layoutli {
        font-size: 150%;
    }
}

