* {
    color: white;
    text-decoration: none;
}

.layoutnav {
    background-color: rgb(0, 4, 55);
}

.layoutul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    width: 25%;
}

.layoutli {
    font-size: 100%;
}

/* Desktop */
@media screen and (min-width: 1280px) {
    .layoutnav {
        display: flex;
    }

    .layoutul {
        margin-left: 600px;
        margin-top: 25px;
    }
}

/* iPad Pro */
@media screen and (max-width: 1024px) {
    .layoutnav {
        
    }
}

